#main {
    position: relative;
}

#fig {
    position: absolute;
    left: 0;
    top: calc(100.8vh - 120px);
    width: 110px;
    height: 110px;
    background-image: url("walk.png");
    background-position-x: 0;
    background-position-y: -225px;
    animation: legs 500ms steps(8) infinite,
                walk 5s linear alternate infinite;
    animation-fill-mode: forwards;
}

#box {
    position: absolute;
    left: 75vw;
    top: calc(100.8vh - 48px);
    width: 30px;
    height: 30px;
    border: solid blue;
    border-radius: 3px;
}


@keyframes walk {
    100%{ left:70vw; }
}


@keyframes legs {
    100% {background-position-x: -894px;}
}