#bilde1 {
    background-image: url("../bilder/i3.png");
    background-size: 413px 435px;
    background-position: center;
    background-repeat: no-repeat;
    height: 448px;
    width: 413px;
}

#bilde2 {
    background-image: url("../bilder/i5.png");
    background-size: 413px 435px;
    background-position: center;
    background-repeat: no-repeat;
    height: 448px;
    width: 435px;
}

#bilde3 {
    background-image: url("../bilder/i7.png");
    background-size: 413px 435px;
    background-position: center;
    background-repeat: no-repeat;
    height: 448px;
    width: 435px;
}

#bilde4 {
    background-image: url("../bilder/i9.png");
    background-size: 413px 435px;
    background-position: center;
    background-repeat: no-repeat;
    height: 448px;
    width: 435px;
}