#bilde1 {
    background-image: url("../bilder/i3.png");
    background-size: 413px 435px;
    background-position: center;
    background-repeat: no-repeat;
    height: 448px;
    width: 413px;
}

#bilde2 {
    background-image: url("../bilder/i5.png");
    background-size: 413px 435px;
    background-position: center;
    background-repeat: no-repeat;
    height: 448px;
    width: 435px;
}

#bilde3 {
    background-image: url("../bilder/i7.png");
    background-size: 413px 435px;
    background-position: center;
    background-repeat: no-repeat;
    height: 448px;
    width: 435px;
}

#bilde4 {
    background-image: url("../bilder/i9.png");
    background-size: 413px 435px;
    background-position: center;
    background-repeat: no-repeat;
    height: 448px;
    width: 435px;
}

p {
    position: absolute;
    font-size: 1.1em;
    left: 450px;
    height: 45px;
    padding: 4px;
    color: black;
}

#btn1 {
    position: absolute;
    left: 680px;
    width: 20%;
    margin: 0 16px;
    background: #144D53;
    border: 0;
    color: white;
    padding: 12px;
    font-size: 16px;
    top: 17%;
}

#btn1:hover {
    position: absolute;
    width: 20%;
    margin: 0 16px;
    background: rgb(34, 37, 41);
    border: 0;
    color: white;
    padding: 12px;
    font-size: 16px;
    top: 17%;
}

#btn2 {
    position: absolute;
    left: 680px;
    width: 20%;
    margin: 0 16px;
    background: #144D53;
    border: 0;
    color: white;
    padding: 12px;
    font-size: 16px;
    top: 35%;
}

#btn2:hover {
    position: absolute;
    width: 20%;
    margin: 0 16px;
    background: rgb(34, 37, 41);
    border: 0;
    color: white;
    padding: 12px;
    font-size: 16px;
    top: 35%;
}

#btn3 {
    position: absolute;
    left: 680px;
    width: 20%;
    margin: 0 16px;
    background: #144D53;
    border: 0;
    color: white;
    padding: 12px;
    font-size: 16px;
    top: 53%;
}

#btn3:hover {
    position: absolute;
    width: 20%;
    margin: 0 16px;
    background: rgb(34, 37, 41);
    border: 0;
    color: white;
    padding: 12px;
    font-size: 16px;
    top: 53%;
}

#btn4 {
    position: absolute;
    left: 680px;
    width: 20%;
    margin: 0 16px;
    background: #144D53;
    border: 0;
    color: white;
    padding: 12px;
    font-size: 16px;
    bottom: 27%;
}

#btn4:hover {
    position: absolute;
    width: 20%;
    margin: 0 16px;
    background: rgb(34, 37, 41);
    border: 0;
    color: white;
    padding: 12px;
    font-size: 16px;
    bottom: 27%;
}

#slideshow {
    position: absolute;
    width: 79em;
    height: 448px;;
    border-radius: 2em;
    background-color: var(--slideshow-bg);
    background-repeat: no-repeat;
    background-position-x: center;
    animation: slideshow 4s ease-in-out infinite alternate;
}

@keyframes slideshow {
    0% { background-image: url(../bilder/i3.png)}
    55% { background-image: url(../bilder/i5.png)}
    75% { background-image: url(../bilder/i7.png)}
    100% { background-image: url(../bilder/i9.png)}
}