.snake {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: yellow;
    top: 0;
    left: 0;
}

.apple {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    top: 0;
    left: 0;
    border-radius: 50%;
}

#board {
    position: relative;
    left: 25%;
    background: linear-gradient(135deg, rgba(42,64,209,1) 0%, rgba(42,186,222,0.89) 28%, rgba(10,194,10,0.78) 54%, rgba(199,4,147,0.65) 86%, rgba(39,230,99,0.59) 100%);
}

#snake {
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url("snake.png");
    background-position: center;
    background-size: 200px 200px;
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    animation: crawl 10s linear infinite;
}

@keyframes crawl {
    0% { left: 0px; top: 0px;  transform: scaleX(-1);}
    29.9% { left: 500px; top: 0px;  transform: scaleX(-1);}
    30% { left: 500px; top: 0px;  transform: scaleX(1);}
    50% { left: 500px; top: 400px; transform: scaleX(1);}
    80% { left: 0px; top: 400px; transform: scaleX(1);}
   100%  { left: 0px; top: 0px; transform: scaleX(1);}
}