#boks {
    position: absolute;
    /* husk å gjøre 0.3 til 0 for å gjøre den usynlig*/
    background-color: rgba(255, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-size: cover;
    top: 540px;
    height: 80px;
    width: 100%;
    left: 0;
}

