*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body{
    /*background: url(../video/space_invaders.mp4);*/
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    left: 350px;
    position: fixed;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
h1{
    color: white;
    font: 900 96px  'Roboto', sans-serif;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: 24px;
}
.Bilde{
    background: linear-gradient(135deg, rgba(230,122,106,0.65) 0%, rgba(76,168,196,0.65) 51%, rgba(153,26,77,0.65) 100%);
    border-radius: 4px;
    padding: 20px 48px;
    color: white;
    font: 20px 'Open Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    
}
