div#background {
    background-image: url('../bilder/background_1.png');
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
}

div#pilot {
    width: 50px;
    height: 50px;
    background-image: url('../bilder/hero.png');
    position: absolute;
    left: 600px;
    top: 550px;
}

div#missiles {
    width: 1200px;
    height: 648px;
    position: absolute;
}

div.missile1 {
    width: 10px;
    height: 28px;
    background-image: url('../bilder/missile1.png');
    position: absolute;
}

div#fiende {
    width: 600px;
    height: 648px;
    position: absolute;
}

div.enemy {
    width: 50px;
    height: 50px;
    background-image: url('../bilder/enemy.png');
    position: absolute;
}

#btnPlay {
    visibility: hidden
}
/* bakken   */
#boks {
    position: absolute;
    /* husk å gjøre 0.3 til 0 for å gjøre den usynlig*/
    background-color: rgba(255, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-size: cover;
    top: 540px;
    height: 80px;
    width: 100%;
    left: 0; 
}

