main {
    display: grid;
    grid-template-columns: 313px 313px 313px 313px;
    grid-column-gap: 15px;
    grid-gap: 5px;
    grid-auto-rows: minmax(250px,auto);
}

article {
    background-color: orange;
}